@model SP.Service.Models.UserModel

@{
    ViewData["Title"] = "User";
    string actionMessageClass = TempData["ActionMessageClass"]?.ToString();
    Boolean.TryParse(ViewData["IsCreating"]?.ToString(), out bool isCreating);
}

<h1>Карточка пользователя</h1>

<form asp-action="Edit" method="post">
    <input asp-for="Id" type="hidden" />
    <div class="zero-gutters col-xl-9">
        <div id="action-message" class="alert alert-row @actionMessageClass">
            @Html.Raw(TempData["ActionMessage"])
        </div>
        <div class="form-row row-no-gutters">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-4">
                <label asp-for="Code" class="control-label col-6"></label>
                <input asp-for="Code" class="form-control col-6" readonly="readonly" />
            </div>
            <div class="form-group row col-4">
                <label class="control-label col-6">@Html.DisplayNameFor(m => m.RegistrationDate)</label>
                <input class="form-control col-6" readonly="readonly" value="@Html.DisplayFor(m => m.RegistrationDate)" />
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-4">
                <label asp-for="LastName" class="control-label col-6"></label>
                <input asp-for="LastName" class="form-control col-6" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group row col-4">
                <label asp-for="FirstName" class="control-label col-6"></label>
                <input asp-for="FirstName" class="form-control col-6" />
                <span asp-validation-for="FirstName" asp-validation-summary="ModelOnly" class="text-danger"></span>
            </div>
            <div class="form-group row col-4">
                <label asp-for="MiddleName" class="control-label col-6"></label>
                <input asp-for="MiddleName" class="form-control col-6" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-4">
                <label asp-for="UserName" class="control-label col-6"></label>
                <input asp-for="UserName" class="form-control col-6" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-4">
                <label asp-for="Password" class="control-label col-6"></label>
                <input asp-for="Password" type="password" class="form-control col-6" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group row col-4">
                <label asp-for="PasswordRepeat" class="control-label col-6"></label>
                <input asp-for="PasswordRepeat" type="password" class="form-control col-6" />
                <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-8">
                <label asp-for="Email" class="control-label col-3"></label>
                <input asp-for="Email" class="form-control col-9" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-8">
                <label asp-for="RoleName" class="control-label col-3"></label>
                <select asp-for="RoleName" asp-items="ViewBag.RoleList" class="col-9"></select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row col-8">
                <label class="control-label col-3">Территории</label>
                <input asp-for="Territories" type="hidden" />
                <textarea id="TerritoryNames" class="col-9" readonly="readonly" rows="3">@Html.ViewData["TerritoryNames"]</textarea>
            </div>
            <div class="form-group row col-4">
                <div class="control-label col-6">
                    <input type="button" class="btn btn-secondary" onclick="selectTerritory();" value="Выбрать" />
                </div>
            </div>
        </div>
        <div class="form-row zero-gutters">
            <div class="form-group row zero-gutters col-8">
                <div class="form-group row col-3"></div>
                <div class="form-group row form-check col-9">
                    <label class="form-check-label">
                        <input asp-for="Inactive" /> @Html.DisplayNameFor(model => model.Inactive)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row button-row">
            <input type="submit" value="Сохранить и вернуться" class="btn btn-primary" />
            <button asp-action="Save" class="btn btn-success">Сохранить</button>
            <button asp-action="Index" class="btn btn-secondary">Вернуться</button>
        </div>
    </div>
</form>

<div id="TerritoryModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выбор территорий</h5>
            </div>
            <div class="modal-body">
                <div id="TerritoryModalContent"></div>
            </div>
            <div class="modal-footer">
                <button id="btnLinkNomenclature" class="btn btn-success" onclick="setTerritories();">Сохранить и закрыть</button>
                <button class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {
            if ($("#action-message").text().trim().length === 0) {
                $("#action-message").fadeOut(1);
            } else {
                setTimeout(function () {
                        $("#action-message").fadeOut(1000);
                    },
                    3000);
            }
        });

        function selectTerritory() {
            var url = '/User/TerritorySelection?selected=' + $('#Territories').val();
            $.ajax({
                type: "GET",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    $('#TerritoryModalContent').html(data);
                    $('#TerritoryModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                },
                error: function () {
                    alert('Ошибка открытия формы для редактирования номенклатуры');
                }
            });
        }

        function setTerritories() {
            var rowData = $('#TerritorySelectionGrid').DataTable().rows({ selected: true }).data();
            var idList = rowData.pluck('territoryId').toArray();
            $('#Territories').val(idList.join(','));
            var names = rowData.pluck('territoryName').toArray();
            $('#TerritoryNames').val(names.join(', '));
            $('#TerritoryModal').modal('hide');
        }

    </script>
}
